.main-page{
    background-image: url("../../../public/curlydesign-web-bg.png");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.home-content{
    padding-left: 80px;
    padding-top: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.home-heading{
    max-width: 900px;
    width: 100%;
    min-height: auto;
    color: var(--content-color);
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 3%;
    font-family: 'Calton Elegance Sans', sans-serif;
    font-style: normal;
    line-height: 113.999%;
}

.home-para{
    font-weight: 400;
    font-size: 28px;
    line-height: 155%;
    max-width: 774px;
    width: 100%;
    letter-spacing: 3%;
    color: var(--light-content-color);
    margin-top: 34px;
}

.buy-button{
    width: 547px;
    height: 95px;
    border: none;
    border-radius: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--deep-pink-color);
    pointer-events: all;
    cursor: pointer;
}

.buy-button div{
    width: 352px;
    background-color: transparent;
    border: 0;
    color: var(--white-foreground);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 15%;
    line-height: 113.999%;
    color: var(--text-content-white-color);
}

@media(max-width: 935px){
    .home-content{
        padding-left: 0px;
        align-items: center;
    }

    .home-heading{
        text-align: center;
    }

    .home-para{
        text-align: center;
    }
    .buy-button{
        width: 80%;
    }
}

@media(max-width: 618px){
    .feature-svg{
        transform: scale(.8);
        height: auto;
    }
}

@media(max-width: 475px){
    .feature-svg{
        transform: scale(.6);
    }
}

.review-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 30px;

}

.review-banner{
    width: 100%;
    max-width: 1447px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    gap: 30px;
    background-color: var(--very-light-pink);
    border-radius: 35px;
    gap: 10px;
    padding: 0 40px;
    transform: translateY(70%);
}

.review-content{
    width: 100%;
    max-width: 1334px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.review-heading{
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    justify-content: center;
}

@media(max-width: 500px){
    .review-heading{
        padding-top: 20px;
        gap: 10px;
        flex-direction: column;
    }
}

.heading-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 113.999%;
    letter-spacing: 4%;
    color: var(--content-color);
    padding-left: 15px;

}

.review-para{
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    line-height: 135%;
    letter-spacing: 3%;
    width: 1334px;
    min-width: 0;
    max-width: 100%;
}

.review-username{
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 3%;
}

.sponsers-banner{
    width: 100%;
    min-height: 385px;
    display: flex;
    align-items: end;
    background-color: var(--mid-pink-bg);    
}

.sponsers-content{
    width: 100%;
    min-width: 10px;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    padding: 30px 10px;
}

.sponser-logo{
    width: auto;
    min-width: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

.sponser-logo img{
    width: 100%;
    min-width: 0;
}

@media(max-width:566px){
    .review-banner{
        transform: translateY(8%);
    }
}

@media(max-width: 1000px){
    .review-section{
        padding: 0;
    }
    .review-banner{
        border-radius: 0;
    }
}

.component{
    width: 100%;
    box-sizing: border-box;
    outline: none;
}