:root{
    --content-color: #3E3E3E;
    --deep-pink-color: #F8567A;
    --white-foreground: #ffffff;
    --dark-foreground: #000000;
    --dark-bg: #171717;
    --white-bg: #FFFFFF;
    --light-content-color: #5F5F5F;
    --text-content-white-color: #FFF9F9;
    --very-light-pink: #FFF5F6;
    --light-pink:#FFE5E9;
    --mid-pink-bg: #E9A9B9;
  }